.lista-filmes {
  max-width: 800px;
  margin: 14px auto;
  color: white;
}

.lista-filmes article {
  width: 100%;
  background-color: #0000006f;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.lista-filmes strong {
  margin-bottom: 14px;
  text-align: center;
  font-size: 22px;
  display: block;
}

.lista-filmes img {
  width: 80%;
  max-width: 80%;
  max-height: 340px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lista-filmes a {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 24px;
  margin: 0 auto;
  background-color: #116feb;
  text-decoration: none;
  color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/*console - redes - 4g lenta*/
