.lista-filmes {
  width: 90%;
  margin: 30px auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.loading {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.lista-filmes article {
  width: 22%;
  padding: 15px;
  border-radius: 4px;
  margin: 0 10px 20px 15px;
}

.lista-filmes img {
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.lista-filmes img:hover {
  scale: 1.15;
}

.lista-filmes a {
  padding: 10px 0;
  text-decoration: none;
}

@media (max-width: 945px) {
  .lista-filmes article {
    width: 30%;
  }
  .lista-filmes img:hover {
    scale: 1;
  }
}
@media (max-width: 850px) {
  .lista-filmes article {
    width: 45%;
  }
}
@media (max-width: 575px) {
  .lista-filmes article {
    width: 100%;
  }
}
